* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100svh;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

form {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: #0D1117;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

label {
  display: block;
  color: #E6EDF3;
  font-weight: 300;
}

select {
  appearance: none;
}

select,
input[type="checkbox"] {
  width: 100%;
  border: 1px solid #555;
  border-radius: 6px;
  padding: 11px 10px 10px 10px;
  font-size: 16px;
  color: #E6EDF3;
  background-color: #0D1117;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

label.day-label {
  display: inline-block;
  width: calc(50% - 10px);
  margin-bottom: 10px;
}

#result {
  margin-top: 20px;
  padding: 15px;
  color: #155724;
  font-weight: bold;
}

.fontBold{
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 400;
}